<section class="favorites-container">
  <h1 class="text-2xl creepster" i18n>Favoritos</h1>
  @if (!favoritesCharacter().length) {
    <app-empty-state
      i18n-title="{empty_state_title_favoritos}"
      i18n-description="{empty_state_description_favoritos}"
      title="Parece que você ainda não tem favoritos"
      description="Volte a pagina inicial e escolha os melhores para você.">
      <app-button type="link" variant="primary" i18n-label="{empty_state_voltar_favoritos}" label="Voltar ao inicio" routerLink="/"></app-button>
    </app-empty-state>
  } @else {
    <app-characters-list [charactersList]="favoritesCharacter()" (removeFavorite)="removeFavorite($event)" />
  }
</section>
