<section class="search-container">
  <h1 class="text-2xl creepster" i18n>Início</h1>
  <div class="search-field">
    <app-input i18n-label="label_pesquisar_inicio" label="Pesquisar" type="text" id="pesquisar" [formControl]="search" />
    @if (search.touched && search.invalid) {
      @if (search.getError('required')) {
        <span class="text-sm text-error" i18n>Campo obrigatório.</span>
      }
    }
  </div>
</section>
<app-search-result [result]="searchResult()" (pageChanged)="pageChanged($event)"/>
