<div class="search-container">
  <h1 class="text-2xl creepster">Início</h1>
  <div class="search-field">
    <app-input label="Pesquisar" type="text" id="pesquisar" placeholder="Tente 'Morty'" [formControl]="search" />
    @if (search.touched && search.invalid) {
      @if (search.getError('required')) {
        <span class="text-sm text-error">Campo obrigatório.</span>
      }
    }
  </div>
</div>
<app-search-result [result]="searchResult()" (addFavorite)="addFavorite($event)" (removeFavorite)="removeFavorite($event)" />
