:host {
  padding: var(--spacing-md);
}

.search-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.search-field {
  width: 20vw;
  min-width: 300px;
}

@media (max-width: 600px) {
  .search-container {
    justify-content: center;
    gap: var(--spacing-md);
  }

  .search-field {
    width: 100%;
  }
}