:host {
  display: grid;
  place-items: center;
}

.header-container {
  width: 100%;
  max-width: var(--max-viewport-breakpoint);
  padding: var(--spacing-md);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-container img {
  cursor: pointer;
}

@media (max-width: 400px) {
  .header-container {
    justify-content: center;
    gap: var(--spacing-md);
  }
}
