@font-face {
  font-family: 'Creepster';
  src: url('./assets/fonts/Creepster-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src:
    url('./assets/fonts/Poppins-Regular.ttf'), url('./assets/fonts/Poppins-Bold.ttf'),
    url('./assets/fonts/Poppins-Light.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Poppins', 'Helvetica', monospace;
}

:root {
  --font-bold: 700;
  --font-regular: 400;
  --font-light: 300;

  --color-core-background: #1f1f1f;
  --color-core-foreground: #0a0a0a;

  --color-core-content: #fafafa;
  --color-core-content-low: #fafafa;
  --color-neutral-surface: #ffffff;

  --color-core-border: #0a0a0a;
  --border-radius-sm: .875rem;
  --border-radius-md: 1.275rem;


  --spacing-xs: 4px;
  --spacing-md: 8px;
  --spacing-xl: 12px;
  --spacing-2xl: 16px;

  --header-size: 100px;

  --max-viewport-breakpoint: 1440px;
  --min-viewport-breakpoint: 300px;
}

@layer utilities {
  .text-primary {
    color: var(--color-core-content);
  }

  .text-secondary {
    color: var(--color-core-content-low);
  }

  .bg-primary {
    background-color: var(--color-core-background);
  }

  .bg-secondary {
    background-color: var(--color-core-foreground);
  }

  .border {
    border: 1px solid var(--color-core-border);
  }

  .text-sm {
    font-size: .875rem;
  }

  .text-xs {
    font-size: .675rem;
  }

  .text-base {
    font-size: 1rem;
  }

  .text-lg {
    font-size: 1.2rem;
  }

  .text-xl {
    font-size: 2rem;
  }

  .text-2xl {
    font-size: 3rem;
  }

  
}

.creepster {
  font-family: 'Creepster';
  color: #00b5cc;
  text-shadow: -1px 0 #B2DF28, 0 1px #B2DF28, 1px 0 #B2DF28, 0 -1px #B2DF28;
}