.input-group {
  position: relative;
  border: 1px solid var(--color-core-border);
  padding: var(--spacing-md);
  border-radius: var(--border-radius-sm);
}

.input {
  width: 100%;
  background-color: transparent;
  padding: var(--spacing-md);
  border: none;
  font-size: var(--text-base);
  outline: none;
  color: var(--color-core-content);
}

.label {
  position: absolute;
  left: var(--spacing-md);
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-out;
  padding: 0 var(--spacing-xs);
  color: var(--color-core-content-low);
  pointer-events: none;
  background-color: var(--color-core-background);
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}